.Sidebar{
    min-width: 220px;
    max-width: 240px;
    background-color: rgb(53,63,78);
    min-height: 100vh;
    padding: 20px;
    padding-top: 20px;
}
.Sidebar .side-section{
    color: white;
    border-top: 2px solid rgb(40,46,58);
    border-radius: 4px;
    border-bottom: 2px solid rgb(40,46,58);
    margin-bottom: 5px;
}
.Sidebar .side-head{
    border-top: none;
}
.Sidebar .side-head .side-header{
    font-size: 2.1rem;
    text-align: center;
    padding: 20px 0px;
    background-color: rgb(191,67,94);
    width: 100%;
    margin: 25px auto 35px;
    border-radius: 5px;

}

.Sidebar .side-nav{
    height: 270px;
    display: flex;
}
.Sidebar nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Sidebar nav .nav-section{
    width: 100%;
    padding: 13px 0;
    border-bottom: 1px solid rgb(40,46,58);;
}
.Sidebar nav .nav-section.contacts{
    border-bottom: none;
}

.Sidebar nav .nav-section a{
    font-size: .8rem;
    font-weight: bold;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    padding: 9px 15px;
    border-radius: 5px;
    /* border: 1px solid blue; */
    transition: background-color .4s linear;
}

.Sidebar nav .nav-section a:hover{
    color: rgba(255, 255, 255, 1);
    backGround-color: rgba(255, 255, 255, 0.2)
}

.Sidebar nav .nav-section a.active{
    color: rgba(255, 255, 255, 1);
    background-color: rgb(43,51,65);

}